.git
.github
.pytest_cache
**/__pycache__
**/*.pyc
**/.mypy_cache

data
ckpts
experiments
outputs
wandb

*.pth
*.pt
*.pkl
*.npz
*.npy
*.log
*.tmp

models/baselines/repsurf/modules/pointops/src/*.o
models/baselines/repsurf/modules/pointops/src/*.so
models/baselines/repsurf/modules/pointops/src/*.cuda.o
models/baselines/repsurf/modules/pointops/src/build.ninja
