.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
.codex
*.pdf
wandb
stats
renders
distances
data
experiments
feature_extraction
outputs
predictions
recon_res
/data/*
!/data/.gitkeep
/ckpts/*
!/ckpts/.gitkeep
.pytest_cache/
*.cuda.o
*.so
build.ninja
